# Игнорируем git
.git
.gitignore

# Игнорируем IDE
.idea
.vscode

# Игнорируем виртуальное окружение
.venv
venv/

# Игнорируем Python-мусор
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем временные файлы
*.log
*.tmp
*.swp


# Игнорируем локальные архивы
*.tar.gz
*.zip